body{
    background-color: rgb(215, 235, 190);
}
h2{
    padding-top: 70px;
    color:violet;
    text-align: center;
}

h5{
    color:lightseagreen;
    text-align: center;
}

h6{
    color:green;
    text-decoration: darkgreen;
}